@charset "utf-8";
/* Mandrake blue CSS Document */

#features {
	background:#ffffff /* url(white/features-background-1.jpg) repeat scroll left top*/;
}
#features .background {
	background:transparent url(white/features-background-2.jpg) no-repeat scroll center center;
}
#footer {
	background:#ffffff /* url(white/footer-background-1.jpg) repeat scroll left top*/;
}
#footer .background {
	background:transparent url(white/footer-background-2.jpg) no-repeat scroll center top;
}
/* Slider */

.nivo-controlNav a {
	background:transparent url(white/slider-bullets.png) no-repeat scroll left top;
}
.nivo-controlNav a.active {
	background:transparent url(white/slider-bullets.png) no-repeat scroll left bottom;
}
div.anythingSlider .thumbNav a {
	background:transparent url(white/slider-bullets.png) no-repeat scroll left top;
}
div.anythingSlider .thumbNav a.cur {
	background:transparent url(white/slider-bullets.png) no-repeat scroll left bottom;
}
/* Widgets */

#footer h3.widget-title {
	border-bottom:1px solid #104172;
}
#footer .widget_nav_menu li, #footer .widget_archive li, #footer .widget_meta li, #footer .widget_categories li, #footer .widget_recent_entries li, #footer .widget_links li, #footer .widget_pages li {
	border-bottom:1px solid #104172;
}
#footer .widget_recent_posts li, #footer .widget_related_posts li, #footer .widget_popular_posts li {
	border-bottom:1px solid #104172;
}
#footer .widget_recent_posts .post-image, #footer .widget_related_posts .post-image, #footer .widget_popular_posts .post-image {
	border:1px solid #104172;
}
#footer .widget_flickr .flickr-wrap div {
	border:1px solid #104172;
}
#footer .widget_nav_menu li ul, #footer .widget_archive li ul, #footer .widget_meta li ul, #footer .widget_categories li ul, #footer .widget_recent_entries li ul, #footer .widget_links li ul, #footer .widget_pages li ul {
	border-top:1px solid #104172;
}
#footer .widget_nav_menu li ul li, #footer .widget_archive li ul li, #footer .widget_meta li ul li, #footer .widget_categories li ul li, #footer .widget_recent_entries li ul li, #footer .widget_links li ul li, #footer .widget_pages li ul li {
	border-top:1px solid #104172;
}
#footer .widget_recent_comments li {
	border-bottom:1px solid #104172;
}
#footer .widget_search .search-input {
	background-color:#092847;
	border:1px solid #104172;
}
#footer .widget_rss li {
	border-bottom:1px solid #104172;
}
#footer .widget_twitter li {
	border-bottom:1px solid #104172;
}
#footer .widget_contact_form .contact-name, #footer .widget_contact_form .contact-email, #footer .widget_contact_form .contact-message {
	background-color:#092847;
	border:1px solid #104172;
}
#footer .widget_calendar table td {
	border:1px solid #104172;
}
#footer .widget_contact_form .invalid {
	border-color:#FFFFFF;
}
#sidebar .widget_contact_form .invalid,
.content .contact-form-wrap .invalid {
	border-color:#104172;
}
/* Buttons */

.button.small.active {
	color:#FFF;
	background:transparent url(../images/buttons/button-small-blue.png) no-repeat scroll right 0;
}
.button.small.active span {
	background:transparent url(../images/buttons/button-small-blue.png) no-repeat scroll left 0;
}
#footer .button.small.active {
	color:#333;
	background:transparent url(../images/buttons/button-small-blue.png) no-repeat scroll right 0;
}
#footer .button.small.active span {
	background:transparent url(../images/buttons/button-small-blue.png) no-repeat scroll left 0;
}
.button.medium.active {
	color:#FFF;
	background:transparent url(../images/buttons/button-medium-blue.png) no-repeat scroll right 0;
}
.button.medium.active span {
	background:transparent url(../images/buttons/button-medium-blue.png) no-repeat scroll left 0;
}
.button.large.active {
	color:#FFF;
	background:transparent url(../images/buttons/button-large-blue.png) no-repeat scroll right 0;
}
.button.large.active span {
	background:transparent url(../images/buttons/button-large-blue.png) no-repeat scroll left 0;
}